body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background: #fff;
}

.wrap{
    margin:0 auto;
    width: 80%;
}

.header{
    padding: 1.3em 0em;
}

.logo{
    float: left;
    width: 20%;
    
}

.logo img{
    width: 100%;
}

.logo a{
    display: block;
    
}

.nav{
    float: right;
    margin-top: 0.82em;
}

.nav li{
    display:inline-block;
}

.active a{
    background: rgba(72, 4, 72, 0.456);
    color:#fff;
}

.nav a{
    display: block;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: #444;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav a:hover{
    color:#fff;
    background: rgba(72, 4, 72, 0.456);
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}

.main-info{
    background-color: blue;
   
}

.text_about h2{
    color:#444;
    font-size: 1.3em;
    font-weight:700;
    text-align:center;
    position: relative;
    margin-top:200px;
}

.text_about h2 span{
    font-size:1.3em;
    font-weight: 400;
}

.text_about p{
    color:#006363;
    font-size: 1.4em;
    font-weight: 300;
}